// colors
$primary-color: #b88e2f;
$background-color: #fff3e3;
$background-light: #fcf8f3;
$text-color: #9f9f9f;
$hover-color: #3a3a3a;
$sale-blue: #2ec1ac;
$sale-red: #e97171;
// font-size
$font-lg: 52px;
$font-md: 40px;
$font-sm: 16px;
