// colors
$primary-color: #2ebb77;
$grey-background: #f8f8f8;
$purple-background: #b479d9;
$text-color: #7e7e7e;
$title-color: #000;
$hot-deals-color: #f09155;
// font-sizes
$font-lg: 48px;
$font-md: 40px;
$font-sm: 20px;
$font-ssm: 18px;
//border-radius
$border-radius: 12px;
$border-radius-sm: 3px;
$border-radius-full: 50%;
//font-weight
$fontWeight: bold;
