@charset "UTF-8";
/* @function percent-promo($px, $base: 643) {
  @return ($px/$base) * 100%;
}
@function percent-sale($px, $base: 285) {
  @return ($px/$base) * 100%;
} */
* {
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 0px 30px 0px;
}

.header_navbar___list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header_navbar___list li {
  margin-right: 75px;
}
.header_navbar___list li:nth-child(3) {
  margin-right: 0;
}
.header_navbar___list li a {
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.costumer-links {
  display: flex;
  flex-wrap: wrap;
}
.costumer-links li {
  justify-content: space-between;
  margin-right: 45px;
}
.costumer-links li:nth-child(4) {
  margin-right: 0;
}

.page-promo {
  width: 100%;
  height: 715px;
  /* background-image: url(/pictures/page-promo-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* background: url(../pictures/page-promo-background.png) no-repeat center center;
  background-size: cover; */
  padding: calc(10.625px * 1%) calc(4.0277777778px * 1%) calc(8.0555555556px * 1%) calc(51.3194444444px * 1%);
  overflow: hidden;
  position: relative;
}
.page-promo img {
  display: inline-block;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.page-promo__info {
  width: 44.6527777778%;
  padding: 9.6423017107% 6.2208398134% 6.2208398134% 6.2208398134%;
  background-color: #fff3e3;
  text-align: left;
  position: absolute;
  z-index: 3;
  top: 9.6423017107%;
  right: 6.2208398134%;
}
.page-promo__info h2 {
  font-size: 52px;
  color: #b88e2f;
}
.page-promo__info a {
  width: 34.5256609642%;
  background-color: #b88e2f;
  padding: 3.8880248834% 11.6640746501%;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.page-promo_info-title {
  font-size: 18px;
  letter-spacing: 3px;
  color: #333333;
  font-weight: 600;
}

.page-promo_info-text {
  font-size: 18px;
  color: #333333;
  font-weight: 500;
  margin-bottom: 45px;
}

.range {
  margin-top: 55px;
}
.range__info {
  text-align: center;
}
.range__info h3 {
  font-size: 32px;
}
.range__info p {
  font-size: 20px;
  color: #666666;
}
.range__rooms {
  margin-top: 62px;
  display: flex;
  justify-content: center;
  gap: calc(1.3888888889px * 1%);
}
.range__rooms-option a img {
  border-radius: 12px;
}

.option-name {
  display: block;
  text-align: center;
  margin-top: 30px;
  font-size: 24px;
  font-weight: 600;
  color: #333333;
}

.products {
  margin-top: 55px;
}
.products__types {
  display: flex;
  justify-content: center;
  gap: calc(2.2222222222px * 1%);
  flex-wrap: wrap;
}
.products h3 {
  text-align: center;
  color: #3a3a3a;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}
.products__options {
  width: calc(19.7916666667px * 1%);
  background-color: #f4f5f7;
  margin-bottom: 32px;
  position: relative;
}
.products__options a {
  display: block;
}
.products__options a img {
  width: 100%;
}
.products__options-info {
  padding: 16px 0px 30px 5.6140350877%;
}
.products__options-info h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
}
.products__options-info ul :first-child {
  font-size: 16px;
  font-weight: 500;
  color: #898989;
  margin-bottom: 8px;
}
.products__options-info ul :last-child {
  font-size: 20px;
  font-weight: 600;
}
.products__options--changed-price p {
  color: #898989;
  font-weight: 500;
  font-size: 16px; /* გადაიყვანე rem-ში, გამოიყენე ფუნქცია */
  /* დაამატე unit less line height, გამოიყენე ფუნქცია */
  margin-bottom: 8px;
}
.products__options--changed-price ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 5.6140350877%;
}
.products__options--changed-price ul :first-child {
  color: #3a3a3a;
  font-size: 20px;
  font-weight: 600;
}
.products__options--changed-price ul :last-child {
  color: #898989;
  font-size: 16px;
  text-decoration: line-through;
  font-weight: 400;
}
.products__options .action-buttons {
  display: none;
}

.sale-30 {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 48px;
  height: 48px;
  background-color: #e97171;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

.sale-new {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 48px;
  height: 48px;
  background-color: #2ec1ac;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}

.show-more {
  display: inline-block;
  padding: 12px 74px;
  border: 1px solid rgb(184, 142, 47);
  color: rgb(184, 142, 47);
  font-size: 16px;
  font-weight: 600;
}

.inspirations {
  background-color: rgb(252, 248, 243);
  padding: 44px 0px 44px calc(6.9444444444px * 1%);
  text-align: left;
  display: flex;
  margin-top: 70px;
}
.inspirations__info {
  margin-top: 179px;
  width: calc(29.3055555556px * 1%);
}
.inspirations__info h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}
.inspirations__info p {
  font-size: 16px;
  font-weight: 500;
  color: #616161;
  margin-bottom: 25px;
}
.inspirations__info a {
  background-color: #b88e2f;
  color: #fff;
  padding: 12px 36px;
}
.inspirations__bedroom {
  background-image: url(/pictures/inspiration-bedroom.png);
  position: relative;
  width: calc(28.0555555556px * 1%);
}
.inspirations__bedroom-info {
  background-color: rgba(255, 255, 255, 0.767);
  padding: 32px 32px 32px 32px;
  position: absolute;
  bottom: 24px;
  left: 24px;
}
.inspirations__bedroom-info p {
  color: rgb(97, 97, 97);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
}
.inspirations__bedroom-info h4 {
  font-size: 28px;
  color: rgb(58, 58, 58);
  font-weight: 600;
}/*# sourceMappingURL=main.css.map */