/* global styles */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* End of global styles*/
/* Body */
.suggestion {
  background-color: rgb(209, 244, 226);
  /* მეორე ფერის გადასვლაა გაკეთებული */
}
.suggestion p {
  text-align: center;
  color: black;
  font-family: Plus Jakarta Sans;
  /* ამ ფონტს ფემილის არ აღიქვამს */
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}
.suggestion p a {
  background-color: white;
  font-size: 15px;
  line-height: 32px;
  color: black;
}
/* HEADER */
.suggestion__upper nav ul li {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.suggestion__upper nav ul li a {
  color: black;
}
.suggestion__bottom ul li {
  text-align: right;
}
.suggestion__bottom ul li:nth-child(2) {
  color: rgb(155, 155, 155);
  font-size: 14px;
  line-height: 20px;
}
.suggestion__bottom ul li:nth-child(2) a {
  font-weight: bold;
  font-size: 18px;
  color: black;
  line-height: 32px;
}
.suggestion__bottom ul li:last-child button {
  background-color: black;
  color: white;
  font-size: 15px;
  line-height: 48px;
}
/* //////////////////////////////////////////////////////////////////////////////////MAIN */
.first-section__div span {
  font-weight: bold;
  font-size: 18px;
  background-color: rgba(180, 121, 217, 0.15);
  color: rgb(180, 121, 217);
  line-height: 15px;
}
.first-section__div h2 {
  font-weight: bold;
  font-size: 68px;
  line-height: 81px;
}
.first-section__div p {
  font-weight: lighter;
  /* medium იყო მოცემული მაგრამ არ იწერება */
  font-size: 18px;
  color: rgb(126, 126, 126);
  line-height: 32px;
}
.first-section__div ul li:first-child a {
  background-color: rgb(46, 187, 119);
  color: white;
  font-size: 16px;
  line-height: 56px;
}
.first-section__div ul li:last-child a {
  font-weight: bold;
  font-size: 16px;
  line-height: 56px;
  color: black;
}
.first-section ul li {
  font-size: 18px;
  font-weight: lighter;
  color: rgb(126, 126, 126);
  line-height: 32px;
}
.first-section ul li b {
  color: black;
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
}
/* /////////////////////////////////////////////////////////////////////////////Second section */
.second-section {
  background-color: rgb(245, 245, 245);
  text-align: center;
}
.second-section {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}
/*////////////////////////////////////////////////////////////////////////////// Third section */
.third-section {
  text-align: center;
}
.third-section p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 32px;
  color: rgb(126, 126, 126);
}
.third-section h3 {
  line-height: 45px;
  font-size: 32px;
}
.third-section span {
  font-weight: bold;
  font-size: 18px;
  line-height: 56px;
}
/* /////////////////////////////////////////////////////////////////////////fourth section */
.fourth-section {
  background-color: rgb(245, 245, 245);
  text-align: center;
}
.fourth-section h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
}
.fourth-section p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 32px;
  color: rgb(126, 126, 126);
}
.fourth-section a {
  background-color: rgb(46, 187, 119);
  color: white;
  font-size: 18px;
  line-height: 56px;
  font-weight: bold;
}
/* ////////////////////////////////////////////////////////////////////////////fifth section */
.fifth-section {
  text-align: center;
  background-color: rgb(245, 245, 245);
}
.fifth-section h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
}
.fifth-section p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 32px;
  color: rgb(126, 126, 126);
}
.fifth-section h4 {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
}
.fifth-section__lower ul li:nth-child(2) {
  background-color: white;
}
.fifth-section__lower ul li:nth-child(2) p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 29px;
  color: rgb(126, 126, 126);
}
.fifth-section__lower--list {
  background-color: rgb(245, 245, 245);
  text-align: left;
  width: 494px;
  height: 697px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 255px;
}
.fifth-section__lower--list li {
  padding: 30px 50px 30px 30px;
}
.fifth-section__lower--list li:nth-child(2) {
  height: 156px;
  width: 494px;
  border-radius: 12px;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.08);
}
.fifth-section__lower--list li p {
  margin-right: 51px;
  margin-top: 20px;
}
/* //////////////////////////////////////////////////////////////////////////////sixth section */
.sixth-section {
  text-align: center;
}
.sixth-section h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
}
.second-section h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
}
.sixth-section p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 32px;
  color: rgb(126, 126, 126);
}
.sixth-section__picks h4 a {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: black;
}
.sixth-section__picks__men span:first-child {
  color: white;
  background-color: rgb(46, 187, 119);
  font-size: 14px;
  line-height: 22px;
}
.sixth-section__picks__men span:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.sixth-section__picks__men ul li:first-child {
  color: rgb(46, 187, 119);
  font-size: 16px;
  line-height: 28px;
}
.sixth-section__picks__men ul li:last-child {
  color: rgb(155, 155, 155);
  font-size: 14px;
  line-height: 25px;
}
.sixth-section__picks__women span:first-child {
  color: white;
  background-color: rgb(46, 187, 119);
  font-size: 14px;
  line-height: 22px;
}
.sixth-section__picks__women span:nth-child(2) {
  color: white;
  background-color: rgb(180, 121, 217);
  font-size: 14px;
  line-height: 22px;
}
.sixth-section__picks__women ul li {
  line-height: 29px;
  font-size: 16px;
  font-weight: bold;
}
.sixth-section__picks__women ul li:nth-child(3) {
  font-weight: lighter;
  font-size: 14px;
  line-height: 25px;
}
.sixth-section__picks__toddler span {
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  background-color: rgb(240, 145, 85);
}
.sixth-section__picks__toddler ul li:last-child {
  font-size: 16px;
  font-weight: bold;
  line-height: 29px;
}
.sixth-section__bottom {
  background-image: url("../images/Link → banner-26.png.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 690px 360px;
}
.sixth-section__bottom {
  padding: 57px 0px 67px 41px;
  border-radius: 12px;
}
.sixth-section__bottom p {
  margin: 0px 423px 30px 41px;
}
.sixth-section__bottom a {
  background-color: rgb(46, 187, 119);
  font-size: 15px;
  line-height: 48px;
  font-weight: bold;
  color: white;
  margin: 0px 276px 67px 0px;
  padding: 14px 50px 15px 25px;
  border-radius: 12px;
}
.sixth-section__bottom h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 45px;
  margin: 0px 419px 17px 0px;
}
.sixth-section__bottom--right {
  background-image: url("../images/Link → banner-27.jpg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 690px 360px;
}
.sixth-section__bottom--right h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 45px;
  margin: 0px 419px 17px 0px;
}
.sixth-section__bottom--right p {
  margin: 0px 423px 30px 41px;
}
.sixth-section__bottom--right a {
  background-color: rgb(46, 187, 119);
  font-size: 15px;
  line-height: 48px;
  font-weight: bold;
  color: white;
  margin: 0px 276px 67px 0px;
  padding: 14px 50px 15px 25px;
  border-radius: 12px;
}
.sixth-section__bottom--right {
  padding: 57px 0px 67px 41px;
  border-radius: 12px;
}
.sixth-section__colors ul li:first-child {
  display: inline-block;
  background: rgb(215, 169, 131);
  text-indent: -9999999px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: 2px solid white;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
}
.sixth-section__colors ul li:nth-child(2) {
  display: inline-block;
  background: rgb(0, 0, 0);
  text-indent: -9999999px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: 2px solid white;
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
}
.sixth-section__colors ul li:nth-child(3) {
  font-size: 14px;
  font-family: sans-serif;
  display: inline-block;
}
/*//////////////////////////////////////////////////////////////////////////////////////// seventh section */
.seventh-section {
  background-color: rgb(245, 245, 245);
}
.seventh-section__top {
  text-align: left;
}
.seventh-section__top h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
}
.seventh-section__top p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 32px;
  color: rgb(126, 126, 126);
}
.seventh-section__top a {
  font-size: 16px;
  font-weight: bold;
  line-height: 56px;
  background-color: rgb(46, 187, 119);
  color: white;
}
.seventh-section__offerings {
  text-align: right;
}
.seventh-section__offerings ul li {
  background-color: white;
}
.seventh-section__offerings ul li {
  font-size: 15px;
  line-height: 27px;
  font-weight: bolder;
  color: rgb(126, 126, 126);
}
.seventh-section__offerings h3 {
  font-size: 20px;
  line-height: 28px;
  font-family: bold;
  color: black;
}
.seventh-section__bottom {
  text-align: right;
}
.seventh-section__bottom-info h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
}
.seventh-section__bottom-info p {
  font-size: 18px;
  line-height: 32px;
  font-weight: lighter;
  color: rgb(126, 126, 126);
}
.seventh-section__bottom-info a {
  background-color: rgb(46, 187, 119);
  color: white;
  font-size: 15px;
  line-height: 48px;
  font-weight: bold;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////eighth section */
.eighth-section {
  text-align: center;
  background-color: rgb(245, 245, 245);
}
.eighth-section__resources h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
}
.eighth-section__resources p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 32px;
  color: rgb(126, 126, 126);
}
.eighth-section__services__service-info span {
  color: rgb(46, 187, 119);
  background-color: white;
}
.eighth-section__services__service-info h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
}
.eighth-section__services__service-info ul li {
  font-size: 15px;
  line-height: 27px;
  color: rgb(126, 126, 126);
}
.eighth-section__services__service-info ul li b {
  color: black;
}
/* /////////////////////////////////////////////////////////////////////////////////////////NINTH-section */
.ninth-section {
  text-align: center;
}
.ninth-section h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
}
.ninth-section p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 32px;
  color: rgb(126, 126, 126);
}
.ninth-section__comments ul li {
  background-color: white;
}
.ninth-section__comments p {
  font-size: 20px;
  line-height: 36px;
  font-weight: lighter;
}
.ninth-section__comments ul li {
  font-size: 15px;
  line-height: 21px;
  font-weight: lighter;
  color: rgb(126, 126, 126);
}
.ninth-section__comments ul li span {
  color: black;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////// FOOTER */
.footer__ad {
  text-align: center;
  background-color: rgba(180, 121, 217, 0.15);
  background-image: url("../images/Main footer.png");
  padding: 130px 686px 150px 686px;
}
.footer__ad h2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: bold;
}
.footer__ad p {
  font-size: 20px;
  line-height: 32px;
  font-weight: lighter;
  color: rgb(126, 126, 126);
}
.footer__ad__middle ul li:first-child a {
  font-size: 15px;
  font-weight: bold;
  line-height: 48px;
  background-color: rgb(46, 187, 119);
  color: white;
  border-radius: 12px;
  padding: 18px 50px 18px 25px;
}
.footer__ad__middle ul li:last-child a {
  font-size: 15px;
  font-weight: bold;
  line-height: 48px;
  background-color: white;
  color: black;
  border-radius: 12px;
  padding: 18px 50px 18px 25px;
}
/* FOOTER SOCIAL ../images */
.footer__social../images {
  text-align: center;
}
.footer__social../images ul li a {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  color: black;
}
/* BOTTOM FOOTER */
.footer__bottom {
  background-color: rgb(245, 245, 245);
  text-align: center;
}
.footer__bottom__main ul li {
  font-size: 16px;
  line-height: 28px;
  color: rgb(126, 126, 126);
}
.footer__bottom__main ul li a {
  color: rgb(126, 126, 126);
}
.footer__bottom__main ul li:nth-child(2) a {
  color: black;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
}
.footer__bottom__information h5 {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
}
.footer__bottom__information ul li a {
  font-size: 16px;
  font-weight: lighter;
  color: rgb(126, 126, 126);
  line-height: 29px;
}
.footer__bottom__newsletter h5 {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
}
.footer__bottom__newsletter p {
  font-size: 16px;
  font-weight: lighter;
  color: rgb(126, 126, 126);
  line-height: 29px;
}
/*PAYMENT FOOTER  */
.footer__payment {
  background-color: rgb(245, 245, 245);
  text-align: center;
}
.footer__payment p {
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
  color: rgb(126, 126, 126);
}

/* .promo-bock {
}

.promo-bock__info {
}

.promo-bock__info-button {
}

.promo-bock__info-button--last-item {
}

scss
.promo-bock {
  &__info {
    &-button {
      &--last-item {


      }
    }
  }
} */
