/* global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* End of global styles*/
/* Body */
.suggestion {
  background-color: rgb(209, 244, 226);
  /* მეორე ფერის გადასვლაა გაკეთებული */
}
.suggestion p {
  text-align: center;
  color: black;
  font-family: Plus Jakarta Sans;
  /* ამ ფონტს ფემილის არ აღიქვამს */
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
}
.suggestion p a {
  background-color: white;
  font-size: 15px;
  line-height: 32px;
  color: black;
}
/* HEADER */
.suggestion__upper nav ul li {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.suggestion__upper nav ul li a {
  color: black;
}
.suggestion__bottom ul li {
  text-align: right;
}
.suggestion__bottom ul li:nth-child(2) {
  color: rgb(155, 155, 155);
  font-size: 14px;
  line-height: 20px;
}
.suggestion__bottom ul li:nth-child(2) a {
  font-weight: bold;
  font-size: 18px;
  color: black;
  line-height: 32px;
}
.suggestion__bottom ul li:last-child button {
  background-color: black;
  color: white;
  font-size: 15px;
  line-height: 48px;
}
/* //////////////////////////////////////////////////////////////////////////////////MAIN */
.promo-block ul li {
  font-size: 18px;
  font-weight: lighter;
  color: rgb(126, 126, 126);
  line-height: 32px;
}
.promo-block ul li b {
  color: black;
  font-size: 48px;
  font-weight: bold;
  line-height: 48px;
}
.promo-block__info span {
  font-weight: bold;
  font-size: 18px;
  background-color: rgba(180, 121, 217, 0.15);
  color: rgb(180, 121, 217);
  line-height: 15px;
}
.promo-block__info h2 {
  font-weight: bold;
  font-size: 68px;
  line-height: 81px;
}
.promo-block__info p {
  font-weight: lighter;
  /* medium იყო მოცემული მაგრამ არ იწერება */
  font-size: 18px;
  color: rgb(126, 126, 126);
  line-height: 32px;
}
.promo-block__info ul li:first-child a {
  background-color: rgb(46, 187, 119);
  color: white;
  font-size: 16px;
  line-height: 56px;
}
.promo-block__info ul li:last-child a {
  font-weight: bold;
  font-size: 16px;
  line-height: 56px;
  color: black;
}
/* /////////////////////////////////////////////////////////////////////////////Second section */
.Partners {
  background-color: rgb(245, 245, 245);
  text-align: center;
}
.Partners {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}
/*////////////////////////////////////////////////////////////////////////////// Third section */
.instructions {
  text-align: center;
}
.instructions p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 32px;
  color: rgb(126, 126, 126);
}
.instructions h3 {
  line-height: 45px;
  font-size: 32px;
}
.instructions span {
  font-weight: bold;
  font-size: 18px;
  line-height: 56px;
}
/* /////////////////////////////////////////////////////////////////////////fourth section */
.costumer-ideas {
  background-color: rgb(245, 245, 245);
  text-align: center;
}
.costumer-ideas h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
}
.costumer-ideas p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 32px;
  color: rgb(126, 126, 126);
}
.costumer-ideas a {
  background-color: rgb(46, 187, 119);
  color: white;
  font-size: 18px;
  line-height: 56px;
  font-weight: bold;
}
/* ////////////////////////////////////////////////////////////////////////////fifth section */
.printing-info {
  text-align: center;
  background-color: rgb(245, 245, 245);
}
.printing-info h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
}
.printing-info p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 32px;
  color: rgb(126, 126, 126);
}
.printing-info h4 {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
}
.printing-info__lower ul li:nth-child(2) {
  background-color: white;
}
.printing-info__lower ul li:nth-child(2) p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 29px;
  color: rgb(126, 126, 126);
}
.fifth-section__lower-list {
  background-color: rgb(245, 245, 245);
  text-align: left;
  width: 494px;
  height: 697px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 255px;
}
.fifth-section__lower-list li {
  padding: 30px 50px 30px 30px;
}
.fifth-section__lower-list li:nth-child(2) {
  height: 156px;
  width: 494px;
  border-radius: 12px;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.08);
}
.fifth-section__lower-list li p {
  margin-right: 51px;
  margin-top: 20px;
}
/* //////////////////////////////////////////////////////////////////////////////sixth section */
.costumer-picks {
  text-align: center;
}
.costumer-picks h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
}
.costumer-picks h2 {
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
}
.costumer-picks p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 32px;
  color: rgb(126, 126, 126);
}
.costumer-picks h4 a {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: black;
}
.costumer-picks__choices-men span:first-child {
  color: white;
  background-color: rgb(46, 187, 119);
  font-size: 14px;
  line-height: 22px;
}
.costumer-picks__choices-men span:nth-child(2) {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.costumer-picks__choices-men ul li:first-child {
  color: rgb(46, 187, 119);
  font-size: 16px;
  line-height: 28px;
}
.costumer-picks__choices-men ul li:last-child {
  color: rgb(155, 155, 155);
  font-size: 14px;
  line-height: 25px;
}
.costumer-picks__choices-women span:first-child {
  color: white;
  background-color: rgb(46, 187, 119);
  font-size: 14px;
  line-height: 22px;
}
.costumer-picks__choices-women span:nth-child(2) {
  color: white;
  background-color: rgb(180, 121, 217);
  font-size: 14px;
  line-height: 22px;
}
.costumer-picks__choices-women ul li {
  line-height: 29px;
  font-size: 16px;
  font-weight: bold;
}
.costumer-picks__choices-women ul li:nth-child(3) {
  font-weight: lighter;
  font-size: 14px;
  line-height: 25px;
}
.costumer-picks__choices-toddler span {
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  background-color: rgb(240, 145, 85);
}
.costumer-picks__choices-toddler ul li:last-child {
  font-size: 16px;
  font-weight: bold;
  line-height: 29px;
}
.costumer-picks__bottom {
  background-image: url("../images/costumer-picks-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 690px 360px;
}
.costumer-picks__bottom {
  padding: 57px 0px 67px 41px;
  border-radius: 12px;
}
.costumer-picks__bottom p {
  margin: 0px 423px 30px 41px;
}
.costumer-picks__bottom a {
  background-color: rgb(46, 187, 119);
  font-size: 15px;
  line-height: 48px;
  font-weight: bold;
  color: white;
  margin: 0px 276px 67px 0px;
  padding: 14px 50px 15px 25px;
  border-radius: 12px;
}
.costumer-picks__bottom h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 45px;
  margin: 0px 419px 17px 0px;
}
.costumer-picks__bottom-right {
  background-image: url("../images/costumer-picks-background-right.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 690px 360px;
}
.costumer-picks__bottom-right h3 {
  font-weight: bold;
  font-size: 32px;
  line-height: 45px;
  margin: 0px 419px 17px 0px;
}
.costumer-picks__bottom-right p {
  margin: 0px 423px 30px 41px;
}
.costumer-picks__bottom-right a {
  background-color: rgb(46, 187, 119);
  font-size: 15px;
  line-height: 48px;
  font-weight: bold;
  color: white;
  margin: 0px 276px 67px 0px;
  padding: 14px 50px 15px 25px;
  border-radius: 12px;
}
.costumer-picks__bottom-right {
  padding: 57px 0px 67px 41px;
  border-radius: 12px;
}
.costumer-picks__choices-colors ul li:first-child {
  display: inline-block;
  background: rgb(215, 169, 131);
  text-indent: -9999999px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: 2px solid white;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.025);
}
.costumer-picks__choices-colors ul li:nth-child(2) {
  display: inline-block;
  background: rgb(0, 0, 0);
  text-indent: -9999999px;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: 2px solid white;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.025);
}
.costumer-picks__choices-colors ul li:nth-child(3) {
  font-size: 14px;
  font-family: sans-serif;
  display: inline-block;
}
/*//////////////////////////////////////////////////////////////////////////////////////// seventh section */
.page-promo {
  background-color: rgb(245, 245, 245);
}
.page-promo__top {
  text-align: left;
}
.page-promo__top h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
}
.page-promo__top p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 32px;
  color: rgb(126, 126, 126);
}
.page-promo__top a {
  font-size: 16px;
  font-weight: bold;
  line-height: 56px;
  background-color: rgb(46, 187, 119);
  color: white;
}
.page-promo__offerings {
  text-align: right;
}
.page-promo__offerings ul li {
  background-color: white;
}
.page-promo__offerings ul li {
  font-size: 15px;
  line-height: 27px;
  font-weight: bolder;
  color: rgb(126, 126, 126);
}
.page-promo__offerings h3 {
  font-size: 20px;
  line-height: 28px;
  font-family: bold;
  color: black;
}
.page-promo__bottom {
  text-align: right;
}
.page-promo__bottom-info h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
}
.page-promo__bottom-info p {
  font-size: 18px;
  line-height: 32px;
  font-weight: lighter;
  color: rgb(126, 126, 126);
}
.page-promo__bottom-info a {
  background-color: rgb(46, 187, 119);
  color: white;
  font-size: 15px;
  line-height: 48px;
  font-weight: bold;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////eighth section */
.resources {
  text-align: center;
  background-color: rgb(245, 245, 245);
}
.resources__info h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
}
.resources__info p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 32px;
  color: rgb(126, 126, 126);
}
.resources__services-info span {
  color: rgb(46, 187, 119);
  background-color: white;
}
.resources__services-info h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
}
.resources__services-info ul li {
  font-size: 15px;
  line-height: 27px;
  color: rgb(126, 126, 126);
}
.resources__services-info ul li b {
  color: black;
}
/* /////////////////////////////////////////////////////////////////////////////////////////NINTH-section */
.costumer-feedback {
  text-align: center;
}
.costumer-feedback h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 60px;
}
.costumer-feedback p {
  font-size: 18px;
  font-weight: lighter;
  line-height: 32px;
  color: rgb(126, 126, 126);
}
.costumer-feedback__comments ul li {
  background-color: white;
}
.costumer-feedback__comments p {
  font-size: 20px;
  line-height: 36px;
  font-weight: lighter;
}
.costumer-feedback__comments ul li {
  font-size: 15px;
  line-height: 21px;
  font-weight: lighter;
  color: rgb(126, 126, 126);
}
.costumer-feedback__comments ul li span {
  color: black;
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////// FOOTER */
.footer__ad {
  text-align: center;
  background-color: rgba(180, 121, 217, 0.15);
  background-image: url("../images/footer background.png");
  padding: 130px 686px 150px 686px;
}
.footer__ad h2 {
  font-size: 48px;
  line-height: 60px;
  font-weight: bold;
}
.footer__ad p {
  font-size: 20px;
  line-height: 32px;
  font-weight: lighter;
  color: rgb(126, 126, 126);
}
.footer__ad__middle ul li:first-child a {
  font-size: 15px;
  font-weight: bold;
  line-height: 48px;
  background-color: rgb(46, 187, 119);
  color: white;
  border-radius: 12px;
  padding: 18px 50px 18px 25px;
}
.footer__ad__middle ul li:last-child a {
  font-size: 15px;
  font-weight: bold;
  line-height: 48px;
  background-color: white;
  color: black;
  border-radius: 12px;
  padding: 18px 50px 18px 25px;
}
/* FOOTER SOCIAL ../images */
.footer__social-media {
  text-align: center;
}
.footer__social-media ul li a {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  color: black;
}
/* BOTTOM FOOTER */
.footer__bottom {
  background-color: rgb(245, 245, 245);
  text-align: center;
}
.footer__bottom__main ul li {
  font-size: 16px;
  line-height: 28px;
  color: rgb(126, 126, 126);
}
.footer__bottom__main ul li a {
  color: rgb(126, 126, 126);
}
.footer__bottom__main ul li:nth-child(2) a {
  color: black;
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
}
.footer__bottom__information h5 {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
}
.footer__bottom__information ul li a {
  font-size: 16px;
  font-weight: lighter;
  color: rgb(126, 126, 126);
  line-height: 29px;
}
.footer__bottom__newsletter h5 {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
}
.footer__bottom__newsletter p {
  font-size: 16px;
  font-weight: lighter;
  color: rgb(126, 126, 126);
  line-height: 29px;
}
/*PAYMENT FOOTER  */
.footer__payment {
  background-color: rgb(245, 245, 245);
  text-align: center;
}
.footer__payment p {
  font-size: 16px;
  line-height: 22px;
  font-weight: lighter;
  color: rgb(126, 126, 126);
}

/* .promo-bock {
}

.promo-bock__info {
}

.promo-bock__info-button {
}

.promo-bock__info-button--last-item {
}

scss
.promo-bock {
  &__info {
    &-button {
      &--last-item {


      }
    }
  }
} */
